<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-iov-vinscan" version="1.0.0">
  <name>VinScan</name>
  <preference default="" name="COMPANY_NAME"/>
  <preference default="" name="DEVCODE_KEY"/>
  <js-module name="VinScan" src="www/VinScan.js">
    <clobbers target="cordova.vinscan"/>
  </js-module>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="VinScan">
        <param name="ios-package" value="VinScan"/>
      </feature>
    </config-file>
    <config-file parent="CompanyName" target="*-Info.plist">
      <string>$COMPANY_NAME</string>
    </config-file>
    <config-file parent="VinScan" target="*-Info.plist">
      <dict>
        <key>DEVCODE_KEY</key>
        <string>$DEVCODE_KEY</string>
      </dict>
    </config-file>
    <header-file src="src/ios/VinScan.h"/>
    <source-file src="src/ios/VinScan.m"/>
    <framework src="libxml2.tbd" weak="true"/>
    <framework src="libiconv.2.4.0.tbd" weak="true"/>
  </platform>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="VinScan">
        <param name="android-package" value="vinscan.VinScan"/>
      </feature>
    </config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<meta-data
      android:name="COMPANY_NAME"
      android:value="$COMPANY_NAME" />
			<meta-data
      android:name="DEVCODE_KEY"
      android:value="$DEVCODE_KEY" />
	

		</config-file>
   	<config-file parent="/*" target="AndroidManifest.xml">
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
			
		</config-file>
  <source-file src="src/android/VinScan.java" target-dir="app/src/main/java/vinscan"/>
		<source-file src="src/android/SaveDevcode.java" target-dir="app/src/main/java/vinscan"/>
	<framework src="src/android/smartvisioniibrary" custom="true" />
  </platform>
</plugin>